.DS_Store
deploying-to-openshift/deployment-template.yaml.1
deploying-to-openshift/deployment-template.yaml.2
deploying-to-openshift/target
deploying-to-openshift/.settings/org.eclipse.m2e.core.prefs
deploying-to-openshift/.classpath
deploying-to-openshift/.project
deploying-to-openshift/.settings/org.eclipse.core.resources.prefs
deploying-to-openshift/.settings/org.eclipse.jdt.apt.core.prefs
deploying-to-openshift/.settings/org.eclipse.jdt.core.prefs
deploying-to-openshift/deployment/deployment.yaml